.about-view {
    padding-bottom: 0.25rem;
}

.about-view__paragraph {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 1.5rem 2rem;
}

.about-view__content {
    margin-left: 1rem;
}

.about-view__content p {
    margin-top: 1rem;
}

.about-view__title {
    margin: 0;
    border-left: 2px solid #dddddd;
    padding: 0 1rem;
}

.about-view__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.about-view__paragraph ul li {
    margin: 0.25rem 0;
}

.about-view__link {
    text-decoration: underline !important;
}
